.window-container {
  display: inline-block;
  color: black;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  flex-direction: column;
  padding: 0;
  user-select: none;
  animation: linear 0.3s windowShakeAndScale;
}


.window-header {
  display: flex;
  border-bottom: 1px solid #00000020;
  padding: 8px;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center; 
  cursor: grab;
  background-color: #f6e7ba;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}


.window-header p {
  margin: 0; 
}

.map-container {
  position: relative;
  width: 700px;
  height: 530px;
  border: 2px solid black;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.pixel-map {
  width: 100%;
  height: 100%;
  background-image: url("/pixel-art-world-map.png");
  background-size: cover;
  background-repeat: no-repeat;
  transform-origin: top left; 
  transition: transform 0.3s ease;
}

.pixel-map.zoomed-in {
  transform: scale(2); 
  cursor: grab; 
}

.add-flight-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.window-container.expanded {
  height: auto; 
}

.flight-info {
  padding: 10px;
  border-top: 1px solid #ccc;
  display: none;
}

.flight-info.expanded {
  display: block  !important; 
}
